<div class="container" *ngIf="project">
  <h1 class="text-center">{{ project.name }}</h1>

  <div class="row">
    <!-- Imagen del proyecto -->
    <div class="col-md-5 project-image">
      <img [src]="getImageUrl()" alt="{{ project.name }}" class="img-fluid">
    </div>

    <!-- Detalles del proyecto -->
    <div class="col-md-7 project-details">
      <p><strong>Descripción:</strong> {{ project.description }}</p>
      <p><strong>Categoría:</strong> {{ project.category }}</p>
      <p><strong>Año:</strong> {{ project.year }}</p>
      <p><strong>Lenguajes:</strong> {{ project.langs }}</p>
    </div>
  </div>

  <!-- Botones de acciones (editar y eliminar) -->
  <div class="row mt-4">
    <div class="col-12 text-center actions">
      <button class="button-edit" [routerLink]="['/editar-proyecto', project._id]">
        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
      </button>
      <button class="button-delete" (click)="deleteProject(project._id)">
        <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
      </button>
    </div>
  </div>
</div>
