<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus massa sem, sed suscipit mauris consectetur
    vitae. Aenean et auctor purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Duis sit amet augue leo. Nam quis pretium metus, quis blandit erat. Maecenas blandit in turpis sed
    iaculis. Vivamus blandit vitae orci ac suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Nullam fringilla massa in justo blandit tempor. Praesent maximus orci quam, non cursus ante
    lobortis ut. Donec fringilla sit amet lacus nec tincidunt. Donec commodo luctus convallis. Nam facilisis nibh eget
    tortor commodo, sit amet porttitor erat accumsan. </p>
</article>
