<div class="container">
  <h2>Proyectos</h2>
  <ul class="project-list">
    <li *ngFor="let project of projects" class="project-card" (click)="goToProject(project._id)">
      {{project._id}}
      <div class="project-image" *ngIf="project.image">
        <img src="{{url + 'get-image/' + (project.image | removePrefix: 'uploads/')}}" alt="{{project.name}}">
      </div>
      <div class="project-details">
        <h3>{{project.name}}</h3>
        <p>{{project.category}}</p>
      </div>
    </li>
  </ul>
</div>
